{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      },
      "loose": true,
      "useBuiltIns": true
    }]
  ],
  "plugins": [
    "transform-async-generator-functions",
    "transform-flow-strip-types",
    ["transform-object-rest-spread", { "useBuiltIns": true }],
    "transform-class-properties",
    "add-module-exports"
  ]
}

