{
  "presets": [
    [
      "@4c",
      {
        "target": "web-app",
        "useBuiltIns": "usage"
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [["relay", { "artifactDirectory": "./src/__generated__" }]]
}
