{
  "extends": [
    "4catalyzer-flow-react",
    "prettier",
    "prettier/react",
    "prettier/flowtype"
  ],
  "rules": {
    "flowtype/require-valid-file-annotation": "off",

    // Don't fail linting if example dependencies aren't installed.
    "import/extensions": "off",
    "import/no-cycle": "off",
    "import/no-unresolved": "off",

    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": [],
        "aspects": ["noHref", "invalidHref", "preferButton"]
      }
    ]
  },

  "overrides": [
    {
      "files": ["data/**"],
      "rules": {
        "global-require": "off",
        "no-await-in-loop": "off",
        "no-console": "off",
        "import/no-dynamic-require": "off"
      }
    }
  ]
}
